# VS Code
**/.vscode

# IDEA
**/.idea

# OSX
**/.DS_Store

# Project Specific
**/.gradle
**/bin
**/build
**/run
**/run-server
**/extmods
**/.settings
**/.project
**/.classpath
**/.fabric
logs/

# Ginsm ignores
description.curseforge
**/*.insyncdl
